* {
    box-sizing: border-box;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --empty: rgba(32, 32, 32, 0.75);
    --boxbg: linear-gradient(-45deg, #111, #2a2a2f 50%, #111);
    --highlight: #23a7d5;
    --green: #2dfa50;
    --darkgreen: #1dda60;
    --red: #fa502d;
    --darkred: #da401d;
    --yellow: #da8a11;
    --grey: #777;
    --darkbg: #161616;
}

span.close {
    cursor: pointer;
}

span.close:hover {
    text-shadow: 0 0 6px var(--red);
}


button {
    background-color: #111;
    padding: 8px 16px;
    box-shadow: none;
    border: 1px solid #222233;
    cursor: pointer;
}

button.icon-button {
    width: 40px;
    height: 40px;
    padding: 5px;
}

button.icon-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button:hover {
    background-color: #171922;
}

button:disabled {
    background-color: #333333;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('../../public/images/background.jpeg') repeat;
}

p {
    margin: 4px;
}

.page-wrap {
    width: 100vw;
    height: 100vh;
}

.page-wrap * {
    color: #fff;
}

.page-wrap input,
.page-wrap textarea {
    color: #222233;
    background: #ffffff;
}

.page-wrap select {
    color: #222233;
    background: #ffffff;
}

.page-wrap select * {
    color: #222233;
    background: #ffffff;
}

.hint-popup {
    background: #111111;
    color: #fff;
    padding: 8px;
}

.hint-popup * {
    color: #fff;
}

.hint-popup p {
    margin: 5px;
}

.hint-popup p.hint {
    font-style: italic;
}

.effects-popup.hint-popup {
    width: 280px;
    border: 1px solid #777777;
    box-shadow: 0 0 12px #ffffff;
}

p.hint, span.hint {
    font-style: italic;
    font-size: 14px;
}

.content-wrap {
    height: calc(100vh - 80px);
    display: flex;
}

.content-wrap .sidebar {
    width: 280px;
    height: calc(100% - 10px);
    background: var(--boxbg);
    overflow-x: visible;
    margin: 5px;
    border: 1px solid #333;
    border-radius: 4px;
    position: relative;
}

.content-wrap .sidebar .resource-item {
    padding: 2px 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 3px;
    border-bottom: 1px solid #222233;
}

.sidebar .holder.monitored {
    height: 27px;
}

.content-wrap .sidebar .resource-item.monitored {
    width: 420px;
    position: absolute;
    z-index: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.content-wrap .sidebar .resource-item .appendix {
    font-size: 13px;
    width: 140px;
    border-left: 1px solid #ffffff;
    padding-left: 4px;
}


.content-wrap .sidebar .resource-item.affordable {
    background: var(--darkgreen);
}

.content-wrap .sidebar .resource-item.unavailable {
    background: var(--yellow);
}

.content-wrap .sidebar .resource-item.locked {
    background: var(--darkred);
}

.content-wrap .sidebar .resource-item .resource-label {
    width: 100px;
}

.content-wrap .sidebar .resource-item .resource-amount {
    width: 100px;
}

.content-wrap .sidebar .resource-item .resource-balance {
    width: 60px;
}

.content-wrap .content {
    height: calc(100% - 10px);
    flex: 1;
    position: relative;
    margin: 5px;
}

.footer {
    height: 80px;
    background: var(--boxbg);
}

.footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .mage-wrap {
    height: 40px;
    padding: 10px;
    align-items: center;
}

.footer .mage-wrap .xp {
    width: calc(100% - 330px);
}

.footer .mage-wrap .mage-xp-bar {
    width: 100%;
    padding: 4px 16px;
}

.footer .mage-wrap .mage-xp-bar .bar-outer {
    background: #777777;
    height: 10px;
}

.footer .mage-wrap .mage-xp-bar .bar-outer .bar-inner {
    background: linear-gradient(to bottom, #caaa41 0%, #f2cc4e 50%, #caaa41 100%);
}

.footer .mage-wrap .level-up-wrap {
    padding-left: 16px;
    position: relative;
}

.footer .mage-wrap .unlocks {
    display: flex;
}

.footer .mage-wrap .unlocks .icon-content {
    margin-left: 12px;
}

.footer .mage-wrap .unlocks .unlock:hover {
    color: var(--highlight);
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.flex-container.buttons {
    justify-content: space-between;
}

.ingame-box {
    border-radius: 4px;
    border: 1px solid var(--grey);
    padding: 12px;
    background-color: var(--empty);
}

.card {
    border-radius: 4px;
    border: 1px solid var(--grey);
    padding: 8px;
    margin: 8px;
    background: var(--darkbg);
    transition: box-shadow 0.3s ease;
}

.card.unavailable {
    border-color: var(--yellow);
}

.card.hard-locked {
    border-color: var(--red);
}

.card:hover {
    box-shadow: 0px 0px 12px rgba(200, 200, 255, 0.5);
}

.card.active {
    border-color: var(--highlight);
    background: var(--darkbg);
    box-shadow: 0px 0px 12px var(--highlight);
}

.card .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.card .buttons button {
    font-size: 14px;
    padding: 4px 8px;
}

.card.action {
    width: 180px;
}

.card.action .head p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 0 1 100px;
}

.bar-container .bar-outer {
    height: 8px;
    position: relative;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--grey);
    background: var(--grey);
}

.bar-container .bar-outer .bar-inner {
    background-color: var(--darkgreen);
    height: 100%;
    border-radius: 4px;
    transition: width 0.2s linear;
}

.card.active .bar-container .bar-outer .bar-inner {
    background-color: var(--highlight);
    height: 100%;
}

.icon-card {
    border: 1px solid #777777;
    border-radius: 4px;
    margin: 5px;
}

.icon-card.bluish {
    border: 1px solid var(--highlight);
}

.icon-card.active {
    box-shadow: 0 0 16px var(--highlight);
}

.icon-card.selected {
    box-shadow: 0 0 8px#ffffff;
}

.icon-card .icon-content {
    width: 40px;
    height: 40px;
    position: relative;
}

.icon-card .icon-content img {
    height: 100%;
    object-fit: contain;
}

.interface-icon {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.interface-icon.small {
    width: 24px;
    height: 24px;
}

.interface-icon img {
    height: 100%;
    object-fit: contain;
}

.interface-icon:hover {
    box-shadow: 0 0 8px #ffffff;
    cursor: pointer;
}

.icon-card .icon-content .level {
    position: absolute;
    padding: 3px;
    background: #111111;
    border: 1px solid #777777;
    border-radius: 3px;
    font-size: 12px;
    top: -2px;
    right: -2px;
    line-height: 8px;
}

ul.menu {
    list-style: none;
    margin: 0;
    display: flex;
    padding-left: 0;
}

ul.menu li {
    margin: 0;
    padding: 8px 16px;
    cursor: pointer;
}

ul.menu li:hover span {
    text-shadow: 0 0 18px #ffffff;
}

ul.menu li.active span{
    color: var(--highlight);
}

h4 {
    font-size: 15px;
    font-weight: bold;
    margin: 8px 0px;
}

.detail-blade {
    height: 100%;
    width: 320px;
    margin-left: 10px;
    background: var(--darkbg);
}

.detail-blade.wide-blade {
    width: 450px;
}

.detail-blade .block {
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #777777;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
}

.tags-container .tag {
    margin: 4px;
    padding: 4px 8px;
    border: 1px solid #777777;
    border-radius: 12px;
    font-size: 13px;
}

.effect-line {
    border-bottom: 1px solid #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 4px;
}

.res-cost {
    margin: 0;
    padding: 4px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.res-cost.yellow * {
    color: var(--yellow);
}

.res-cost.red * {
    color: var(--red);
}

.res-cost .resource-name {
    width: 75px;
}

.res-cost .resource-eta {
    font-size: 13px;
    width: 60px;
}

.res-cost .resource-req {
    width: 120px;
}

/*
.flashable {
    position: relative;
}

.flashable.flash::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: pseudo-flash 1s forwards;
    z-index: 10;
}
*/

.block .stats-block p {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flash-overlay {
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    /* Style your overlay */
    background-color: rgba(255, 255, 255, 0.5);
    animation: pseudo-flash 1s forwards;
    z-index: 1000; /* Ensure it's above other elements */
    pointer-events: none;
}

.flash-overlay.powerful-splash {
    animation: pseudo-flash-powerful 2s forwards;
}


.circular-progress {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circular-progress .overlay {
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    /* Use a conic-gradient to create the progress arc */
    background: conic-gradient(
            rgba(0, 0, 0, 0.5) calc(var(--angle) * 1deg),
            transparent 0deg
    );
    transform: rotate(calc((360 - var(--angle)) * 1deg));
    pointer-events: none; /* Allow clicks to pass through if necessary */
}

.circular-progress img,
.circular-progress .content {
    display: block;
}

@keyframes pseudo-flash {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1.3);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

@keyframes pseudo-flash-powerful {
    0% {
        opacity: 0;
        transform: scale(0.9);
        box-shadow: none;
    }
    50% {
        opacity: 1;
        transform: scale(1.3);
        box-shadow: 0 0 1000px rgba(255, 255, 255, 0.85);
    }
    100% {
        opacity: 0;
        transform: scale(1.5);
        box-shadow: 0 0 1000px rgba(255, 255, 255, 0);
    }
}



.actions-wrap, .items-wrap, .inventory-wrap, .spell-wrap {
    display: flex;
    height: 100%;
    width: 100%;
}

.actions-wrap .actions,
.items-wrap .items,
.inventory-wrap .inventory,
.spell-wrap .spell {
    height: 100%;
    flex: 1;
}

.inventory-wrap .inventory .inventory-items-wrap {
    height: calc(100% - 40px);
}

.actions-wrap .actions .list-wrap {
    height: calc(100% - 130px);
}

.actions-wrap .categories {
    height: 40px;
    border-bottom: 1px solid #777777;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card.action {
    height: 120px;
}

.card.action .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card.action .bottom .xp-text * {
    font-size: 12px;
}

.action-lists-panel {
    height: 50px;
}

.action-lists-panel .flex-container {
    align-items: center;
}

.action-lists-panel .flex-container .panel-col {
    margin-right: 10px;
    position: relative;
}

.action-lists-panel .flex-container .panel-col.current-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-right: 12px;
}

.action-lists-panel .flex-container .panel-col.current-list  * {
    margin-right: 8px;
}

.action-lists-panel .flex-container .panel-col .list-selector {
    position: absolute;
    bottom: 40px;
    left: 0px;
    padding: 12px;
    border: 1px solid #777777;
    border-radius: 4px;
    background: #111111;
}

.action-lists-panel .flex-container .panel-col .list-selector .item {
    padding: 4px 8px;
    border-bottom: 1px solid #333333;
}

.list-editor .actions-list-wrap .action-row {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    border-bottom: 1px solid #777777;
}

.list-editor .actions-list-wrap .action-row.unavailable * {
    color: var(--grey);
    font-style: italic;
}

.list-editor .actions-list-wrap .action-row input {
    width: 50px;
}

.list-editor .actions-list-wrap .action-row .title {
    width: 80px;
}

.list-editor .main-wrap .main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.list-editor .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card.action .xp-box,
.detail-blade .xp-box {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.detail-blade .effects-wrap {
    padding: 4px;
    margin: 8px 0;
}

.card.item {
    height: 80px;
    width: 180px;
}

.card.item.shop-card {
    width: 220px;
}

.card.item.shop-card .autobuy-label {
    font-size: 13px;
}

.card.item .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.card.item .hard-locked {
    border: 1px solid var(--red);
}

.autoconsume-setting .rules .rule,
.automated-wrap .rules .rule{
    padding: 8px;
    border: 1px solid #777777;
    border-radius: 4px;
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
}

.rules .rule input,
.rules .rule select {
    width: 60px;
}

.autoconsume-setting .rules .rule .col {
    margin: 4px;
}

.rules-header.flex-container {
    align-items: center;
    margin-top: 8px;
    justify-content: space-between;
}

.furniture-wrap {
    height: calc(100% - 40px);
}

.furniture-wrap .head {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card.furniture {
    width: 200px;
}

.furniture-wrap .furnitures-cat {
    height: calc(100% - 40px);
}

.card.furniture .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.mage-wrap .level {
    display: flex;
    align-items: center;
}

.mage-wrap .skills-button {
    border: 1px solid #111;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.mage-wrap .skills-button:hover {
    box-shadow: 0 0px 12px #ffffff;
}

.mage-wrap .skills-button img {
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.mage-wrap .skills-button span {
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
    line-height: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
}

@keyframes flashShadow {
    0% {
        box-shadow: 0 0 12px var(--highlight);
    }
    50% {
        box-shadow: 0 0 12px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 12px var(--highlight);
    }
}

.mage-wrap .skills-button.highlight {
    color: var(--highlight);
    cursor: pointer;
    border-color: var(--highlight);
    animation: flashShadow 1s infinite;
}

.mage-wrap .skills-button.highlight:hover {
    background: #111111;
}


.popup-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
}

.popup-wrap .popup {
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    left: 50px;
    top: 50px;
    background: var(--boxbg);
    border: 1px solid #333;
    padding: 16px;
}

.popup-content {
    height: calc(100% - 60px);
}

.skills-wrap .skills-container {
    height: calc(100% - 100px);
}

.skills-container .cards {
    display: flex;
    flex-wrap: wrap;
}

.popup-wrap .popup .popup-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-wrap .popup .popup-heading h4 {
    margin: 8px 0px;
}


.icon-card.spell-card .icon-content {
    width: 64px;
    height: 64px;
    position: relative;
    cursor: pointer;
}

.icon-card.spell-card .icon-content:hover {
    box-shadow: 0 0 12px #ffffff;
}

.active-effects-wrap {
    display: flex;
    flex-wrap: wrap;
}

.sidebar .effects-list {
    position: absolute;
    bottom: 12px;
}

.custom-file-upload {
    display: inline-block;
    background-color: #111;
    padding: 8px 16px;
    box-shadow: none;
    border: 1px solid #222233;
    cursor: pointer;
    font-size: 14px;
}

.custom-file-upload:hover {
    background-color: #171922;
}

.inner-settings-wrap {
    height: calc(100% - 40px);
}

.save-settings-wrap .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save-settings-wrap .row .col {
    width: 300px;
}

.save-settings-wrap .row .col textarea {
    width: 280px;
    height: 120px;
}

.text-desc {
    font-size: 13px;
}

.items-cat .heading.flex-container {
    align-items: center;
    height: 40px;
    padding: 8px 12px;
}

.items-cat .heading.flex-container ul.menu li {
    padding: 4px;
}

.items-cat .items-holder {
    height: calc(100% - 60px);
}

.items-wrap .items-cat {
    height: calc(100% - 40px);
}

.items .menu-wrap {
    border-bottom: 1px solid #777777;
}

.items .menu-wrap.map {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.effects-table .nextVal.green {
    color: var(--green);
}

.effects-table .nextVal.red {
    color: var(--red);
}

.focused-icon {
    width: 24px;
    height: 24px;
    box-shadow: 0 0 12px #ffffff;
    border-radius: 50%;
}

.focused-icon img{
    width: 24px;
    object-fit: contain;
    border-radius: 50%;
    filter: contrast(150%);
}

.about-block {
    height: 100%;
}

.lists-editor .list-selector .list-selector-inner {
    width: 320px;
    overflow: hidden;
    position: relative;
}

.lists-editor .list-selector .lists-wrap {
    height: 300px;
    overflow-y: hidden;
    position: relative;
}

.lists-editor .list-selector .list-item-row {
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.lists-editor .list-selector .list-item-row .icon-content {
    margin: 2px 4px;
}

.lists-editor .list-selector .list-item-row .list-name {
    width: 160px;
    display: block;
}

.automated-list .automated-wrap {
    display: flex;
    justify-content: space-between;
}

.automated-wrap .col.title {
    padding-top: 30px;
    width: 160px;
}

.automated-wrap .col.priority {
    padding-top: 30px;
    width: 120px;
}

.automated-wrap .col.auto-actions-wrap {
    padding-top: 30px;
    width: 200px;
}

.automated-wrap.editing .col.title {
    padding-top: 50px;
}

.automated-wrap.editing .col.priority {
    padding-top: 50px;
}

.automated-wrap.editing .col.auto-actions-wrap {
    padding-top: 50px;
}

.automated-wrap .col.rules-wrap {
    width: 400px;
}

.automated-wrap .col.priority input{
    width: 80px;
}

.automated-wrap .col.rules-wrap .rule.row {
    justify-content: space-between;
}

.automations-box.closed .automated-list {
    display: none;
}

.automations-box .automation-panel-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.automations-box {
    background: rgba(0,0,0,0.5);
    margin: 8px;
    padding: 8px;
    border: 1px solid #777777;
    border-radius: 8px;
}

.automations-box.opened .automated-list {
    border-top: 1px solid #777777;
}

.automations-box.opened .automated-list .automated-wrap {
    padding: 4px;
    border-bottom: 1px solid #777777;
}

.automations-box.closed .arrow-down {
    display: block;
    transform: rotate(-90deg);
}

.automations-box .arrow-down {
    padding: 4px;
    font-size: 24px;
}

.unlocks-map {
    height: 100%;
}

.unlocks-inner h5 {
    font-size: 16px;
    margin: 8px;
}

.unlocks-inner .flex-container {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border-bottom: 1px solid #777777;
}

.unlocks-inner .flex-container p {
    font-size: 14px;
    margin: 0;
}

.set-level {
    margin-top: 4px;
}

.pattern-wrap.flex-container {
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.pattern-wrap.flex-container input {
    width: 120px;
}

.list-editor {
    padding-right: 12px;
}

.crafting-wrap {
    height: calc(100% - 40px);
}

.crafting-wrap .head {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crafting-wrap .head .space-item span {
    margin-right: 12px;
}

.crafting-wrap .craftables-cat {
    height: calc(100% - 100px);
}

.card.craftable {
    width: 300px;
    min-height: 110px;
}


.card.craftable .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.breakdowns .breakdown-section {
    font-size: 15px;
}

.breakdowns .breakdown-section .breakdown-section-sub {
    padding-left: 20px;
    font-size: 14px;
}

span.highlighted-span {
    color: var(--highlight);
}

.two-side-card .left {
    padding: 12px;
}

.two-side-card .right {
    flex: 1;
}

.two-side-card .right .label {
    font-size: 14px;
}

.two-side-card .left img{
    height: 48px;
    border: 1px solid #777;
    border-radius: 2px;
}

.footer-add-info {
    font-size: 14px;
    margin: 0 4px;
}

.footer-add-info.banked-time {
    display: flex;
    align-items: center;
}

.footer-add-info.banked-time .ui-icon {
    height: 24px;
    object-fit: contain;
    border-radius: 50%;
    border: 1px solid #777777;
    margin-right: 8px;
}

.footer-add-info .banked-toggle {
    cursor: pointer;
    margin: 0 8px;
    padding: 4px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.footer-add-info .banked-toggle:hover {
    color: var(--highlight);
    background: #222233;
}

.footer-add-info .banked-toggle.activated {
    color: var(--highlight);
}

.footer-add-info .banked-toggle.disabled {
    color: var(--grey);
}

.popup-content .statistics {
    height: 100%;
}

.popup-content .statistics .flex-row {
    display: flex;
    justify-content: space-between;
}

.popup-content .statistics .flex-row .stat-title {
    width: 200px;
}

.popup-content .statistics .flex-row .stat-value {
    width: calc(100% - 240px)
}

.recharts-wrapper tspan {
    font-size: 13px;
}

.guilds-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.guild-card {
    width: 240px;
    height: 300px;
    margin: 8px;
    border: 1px solid #777777;
    padding: 8px;
}

.guild-card img {
    width: 100%;
    object-fit: contain;
}

.guilds-wrap .tier-wrap .tier-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.guilds-wrap .tier-wrap .tier-content .item-card {
    width: 260px;
}

.guilds-wrap .tier-wrap .tier-content .item-card .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tier-title {
    font-weight: bold;
    font-size: 16px;
}

.guild-overview {
    padding-top: 8px;
}

.guild-overview .right {
    padding-left: 8px;
}

.guild-overview .right p {
    padding-left: 0;
    margin-left: 0;
}

.guild-overview .right .space-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.guild-overview .right .guild-name {
    font-weight: bold;
}

.guild-overview .right .buttons {
    padding-top: 8px;
}

.guild-image {
    border: 1px solid #777777;
}

.guilds-wrap {
    height: calc(100% - 40px);
}

.guilds-wrap .upgrades {
    height: calc(100% - 260px);
}

.new-notification-wrapper {
    position: relative;
}

.new-notification-wrapper.is-new:after {
    position: absolute;
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: var(--highlight);
    right: -8px;
    top: -4px;
    -webkit-animation: bgcolorchange 2s infinite; /* Chrome, Safari, Opera */
    animation: 2s infinite bgcolorchange;
}

.new-notification-wrapper.narrow-wrapper.is-new:after {
    right: 1px;
    top: 1px;
}

@keyframes bgcolorchange {
    0% {
        background-color: var(--highlight);
    }
    50% {
        background-color: #eef;
    }
    100% {
        background-color: var(--highlight);
    }
}
/* Chrome, Safari, Opera */
@-webkit-keyframes bgcolorchange {
    0%   {background: var(--highlight);}
    50%  {background: #ddf; }
    100% {background: var(--highlight);}
}

.event-holder .event-wrap {
    width: 265px;
    padding: 5px;
}

.event-holder .event-wrap button {
    width: 255px;
}

.option-wrap {
    padding: 10px 10px;
}


.option-wrap .option-button {
    width: 300px;
}

.option-wrap .consumptions {
    width: 300px;
}

.option-wrap .option-button.unavailable {
    pointer-events: none;
    background-color: #333333;
}

.event-holder .others {
    position: relative;
}

.event-holder .others .showMore {
    cursor: pointer;
    color: var(--highlight);
    font-style: italic;
}

.events-popup.hidden {
    display: none;
}

.events-popup.visible {
    display: block;
    position: absolute;
    padding: 4px;
    width: 240px;
    background: #111;
    border: 1px solid #333;
    border-radius: 3px;
}

.events-popup .event {
    padding: 4px;
    border-bottom: 1px solid #333333;
}

.events-popup .event-name {
    font-size: 13px;
    font-style: italic;
    cursor: pointer;
}

.events-popup .event-time {
    font-size: 13px;
    font-style: italic;
    cursor: pointer;
}

.events-popup .event-name.new {
    color: var(--highlight);
}

.events-popup .event {
    display: flex;
    justify-content: space-between;
}

.map-cat {
    height: calc(100% - 50px);
}

.map-container .map-row {
    display: flex;
    align-items: flex-start;
}

.map-container .map-row .map-tile {
    width: 40px;
    height: 40px;
    background-size: contain;
    position: relative;
}

.map-container .map-row .map-tile.running {
    box-sizing: border-box;
    border: 1px solid #393;
}

.map-container .map-row .map-tile.highlight:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(159, 230, 255, 0.2);
}

.block .drop-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block .drop-row span {
    font-size: 14px;
    width: 90px;
}

.block .drop-row span.probability {
    width: 60px;
}

.block .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.map-wrap {
    height: calc(100% - 40px);;
}

.map-wrap .head {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-wrap .head .resources-filter {
    display: flex;
    align-items: center;
}

.map-wrap .head .resources-filter span {
    padding-right: 8px;
}

.map-wrap .map-cat{
    height: calc(100% - 140px);;
}

.search-rel-wrap {
    position: relative;
}

.search-rel-wrap input {
    border: 1px solid #333333;
    border-radius: 3px;
    padding: 3px 6px;
}

.search-rel-wrap .scopes-popup {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 300px;
    padding: 8px;
    background: var(--boxbg);
    border: 1px solid #333;
    border-radius: 3px;
    z-index: 1;
}

.search-rel-wrap .scopes-popup .chips-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
}

.search-rel-wrap .scopes-popup .scope-chips {
    border: 1px solid #777;
    border-radius: 8px;
    background: #111111;
    font-size: 13px;
    padding: 3px 6px;
    margin-right: 4px;
    cursor: pointer;
}

.search-rel-wrap .scopes-popup .scope-chips:hover {
    background-color: #222233;
}

.search-rel-wrap .scopes-popup .scope-chips.selected {
    background-color: #171922;
    border-color: var(--highlight);
}

.actions-wrap .additional-filters {
    display: flex;
    align-items: center;
}

.furniture-wrap .filters {
    display: flex;
    align-items: center;
}

.hotkey-row {
    display: flex;
    align-items: center;
}

.hotkey-row .tab-label {
    width: 250px;
}

.hotkey-row .hotkey-actions span {
    width: 140px;
}

.hotkey-row .hotkey-actions {
    display: flex;
    align-items: center;
}

.ingame-box.full-size {
    height: calc(100vh - 1px);
}

.ingame-box.full-size .loading-text {
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding-top: 24px;
}

.ingame-box .image {
    display: flex;
    justify-content: center;
}

.ingame-box .image img {
    max-height: calc(100vh - 200px);
    max-width: 90vw;
    object-fit: contain;
    border: 1px solid #333333;
    border-radius: 3px;
}

.how-to-wrap {
    height: calc(100% - 40px);
}

.how-to-wrap p {
    margin: 12px 0;
}

.image-container img {
    object-fit: contain;
    max-width: 100%;
}

.how-to-sign {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #999;
    border-radius: 50%;
    background-color: #171922;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.breakdown .box {
    padding: 5px;
    border-bottom: 1px solid #333333;
}

.breakdown .line {
    font-size: 13px;
}